<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- what to render in the title bar -->
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Nullam arcu sapien, vestibulum in mi sed, ultricies rhoncus tortor.
      Nam blandit laoreet pellentesque. Nullam sed volutpat felis. Praesent
      sit amet pharetra mauris.</p>
    {{> footer}}
  </body>
</html>
