<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- what to render in the title bar -->
    <title>Help Page</title>
  </head>
  <body>
    {{> header}}
    <h2>We know you need help!</h2>
    {{> footer}}
  </body>
</html>
