<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- what to render in the title bar -->
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h3>{{screamIt welcomeMessage}}</h3>
    {{> footer}}
  </body>
</html>
