<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- what to render in the title bar -->
    <title>Some Website</title>
  </head>
  <body>
    <h3>We will be right back</h3>
    <p>
      The Site is currently being updated.
    </p>
  </body>
</html>
