<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- what to render in the title bar -->
    <title>Projects</title>
  </head>
  <body>
    {{> header}}
    <h3>This will be my portfolio page</h3>
    {{> footer}}
  </body>
</html>
